
/* Card Styling */
.card {
    display:inline-block;
    height:fit-content;
    width: clamp(300px, 25vw, 400px);
    border:blueviolet solid 1px;
    margin: 2vh auto;
    scroll-snap-align: center;
    box-shadow: 0 0 .05em white,0 0 .9em blueviolet;
    display:flex;
    background:#1a1a1a;
    cursor: pointer;
    overflow:hidden;
}
.card:hover {
    border-color: hsl(271, 96%, 63%);
    box-shadow: 0 0 1.5em blueviolet;
}

/* card popup when clicked styling */
.card:focus {
    width:auto;
    position:absolute;
    top:50%;
    left:50%; 
     transform: translate(-50%,-50%);
    box-shadow: 0 0 4em black, 0 0 1em blueviolet;
    cursor: default;
    z-index:100;
}
.card:focus .extra {
    display:inline-block;

}

/* Card internal structure styles */
.sample{
    width: clamp(300px, 25vw, 400px);
    display:inline-block;
}
.extra {
    display:none;
    width: clamp(300px, 40vw, 600px);
}

.img {
    width:100%;
}

/* tech list styling */
.techList li{
    display:inline;
    background-color:blueviolet;
    border-radius:1rem;
    padding: 0 .4rem;
    color: black;
    margin:5px 5px;
}
.techList {
    margin: 10px 0;
}
/* Card text styling */
.textContainer {
    margin: 10px;
    position: relative;
    color:white;
}
.textContainer h1 {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    display:inline-block;
}
.textContainer h3 {
    font-size: 1.1rem;
    font-weight: bold;
    color: blueviolet;
    margin:10px;
}
.textContainer p {
    font-size: 1rem;
    color: white;
    margin:10px;
}
.links {
    margin:35px 0;
}
.links a {

    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;

    padding: .2rem .5rem;
    margin:10px;

    border-radius: .4rem;
    border:blueviolet solid 2px;
    color:blueviolet;
    transition: all .2s ease-in-out;
}

.links a:hover {
    font-weight: 400;
    color: hsl(271, 96%, 83%);
    text-shadow: 0 0 1em blueviolet, 0 0 2em blueviolet;
    border-color: hsl(271, 96%, 63%);
    box-shadow: 0 0 .4em blueviolet;
}

@media screen and (max-width: 700px) {
.card {
    flex-direction:column;
}
}
