.article {
    width:70vw;
    max-width:800px;
    min-height:50vh;
    position:absolute;
    left:20vw;
    top:40vh;
    line-height:1.7rem;
    padding-left:5px;
    padding-bottom:30px;
    border-left: 4px solid blueviolet;
}
.article h1 {
    color: blueviolet;
    font-weight: bold;
    font-size: 3.5rem;
    margin: 15px 0;
}
.article h2 {
    font-size: 1.3rem;
}
.article p {
    color:#808080;
    margin-left:20px;
}
 
.article white {
    color:#e6e6e6;
}

.article a {
    color: blueViolet;
    text-decoration: none;
    font-weight:bold;
}

.article a:hover {
    color: #e6e6e6;
    transition: ease-in .3s .1s;
}
/* 
.sideBar {
    width:4px;
    height:50vh;
    background-color: blueviolet;
    position:absolute;
    left:19vw;
    bottom:5vh;
} */