.article {
    width:70vw;
    max-width:800px;
    height:60vh;
    position:absolute;
    left:20vw;
    bottom:0;
    line-height:1.7rem
}
.article h1 {
    color: blueviolet;
    font-weight: bold;
    font-size: 3rem;
    margin: 15px 0;
}
.article p {
    color:#808080;
    margin-left:20px;
}
 
.article white {
    color:#e6e6e6;
}

.article a {
    color: blueViolet;
    text-decoration: none;
    font-weight:bold;
}

.article a:hover {
    color: #e6e6e6;
    transition: ease-in .3s .1s;
}

.sideBar {
    width:4px;
    height:55vh;
    background-color: blueviolet;
    position:absolute;
    left:19vw;
    bottom:0;
}