.nav ul {
    list-style:none;
    text-align: right;
    margin-right: 5%;
}
.nav li {
    display:inline-block;
    margin:0 10px;
    letter-spacing: .1em;
}
.nav a {
    color: #E6E6E6;
    text-decoration: none;
}
.nav a:hover {
    transition:linear .3s .1s;
    color: #8a2be2;
}

.contact {
    background-color:transparent;
    border: 2px solid blueviolet;
    border-radius: 5px;
    font-size: 1.2em;
    color: blueviolet;
    padding: 1px 2px;
}
.contact:hover {
    border-color: #E6E6E6;
    color: #E6E6E6;
    transition: linear .3s .1s;
}
