.container {
    padding-top:20px;   
    width:80vw;
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
    flex-shrink:0;
    scroll-snap-align: center;
    height:90vh;    
    overflow:scroll
    /* position:relative; */
}
@media screen and (max-width: 800px) {
    .container {
        width:95vw;
        scroll-snap-type: none;
    }
}
.header {
    font-size:3.5rem;
    color:blueviolet;
    width:80vw;
    margin:0 auto;
}