.main {
    margin-top:50px;
    height:calc(100vh - 50px);
    overflow:scroll;
    scroll-snap-type: y mandatory;
}

.section {
    position:relative;
    min-height: calc(94vh - 50px);
    scroll-snap-align: start;
    display:flex;
    flex-direction:column;
    justify-content:end;
    padding-bottom:20vh;
}