.main {
    margin-top:50px;
    height:calc(100vh - 50px);
    overflow:scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    /* scroll-padding-bottom:30vh; */

}

.section {
    min-height: calc(88vh - 50px);
    display:flex;
    flex-direction:column;
    justify-content:end;
    padding:5vh 0;
    scroll-snap-align: start;
}
@media screen and (max-width: 600px) {
    .section {
        justify-content: center;
    }
    .section:nth-child(1) {
        padding:0;
    }
    .main {
        scroll-snap-type: none;
    }
}
/* width */
::-webkit-scrollbar {
    width:7px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: blueviolet;
    border-radius: 10px;
}
::-webkit-scrollbar-corner {
    background: none;
}